
<style>
  ul {
      list-style: none; 
      padding: 0;
  }
  li {
      display: flex; 
      align-items: center; 
  }
  span {
          flex: 1; 
      font-weight: bold; 
  }
  input.edit-input {
      flex: 2;
      padding: 5px; 
      border: 1px solid #ccc; 
      border-radius: 4px; 
  }
  ul li::before {
      position: absolute;
      left: 0;    
  }
  ul li p a{
      text-decoration: none;
  }
  a {
      color: black;
      text-decoration: none;
      transition: color 0.3s;
  }
  a:hover {
      color: #5787bb;
  }
  </style>
  <!-- CSS -->
  <div class="container">
      <div class="account-title">
          <h2 style="text-align: center;padding-top: 50px;font-size: 40px;padding-bottom: 20px;">
              Tài khoản của bạn  <hr>
          </h2>       
      </div>
      <div class="row justify-content-start">
          <div class="col-3" style="border: none;">
            <h4>TÀI KHOẢN</h4>
            <ul>
              <li>
                  <p>* <a href="#/accountDetail" style="text-decoration: none;">Thông tin tài khoản</a></p>
              </li>
              <li>
                  <p>* <a href="#/address" style="text-decoration: none;">Danh sách địa chỉ</a></p>
              </li>
              <li>
                  <p>* <a href="#/changePass" style="text-decoration: none;">Đổi mật khẩu</a></p>
              </li>
              <li>
                  <p>* <a href="#" id="logoutLink" style="text-decoration: none;">Đăng xuất</a></p>
              </li>          
            </ul>
          </div>
          <div class="col-8">
            <h4>ĐỔI MẬT KHẨU</h4>
            <hr>
            <ul>
              <li>
                <span>Mật khẩu cũ:</span>
                <input type="password" class="edit-input" ng-model="changePassword.oldchangePassword">
            </li>              
              <br>
                <li>
                    <span>Mật khẩu mới:</span>
                    <input type="password"class="edit-input" ng-model="changePassword.newchangePassword">
                </li><br>
                <li>
                    <span>Xác nhận mật khẩu:</span>
                    <input type="password" class="edit-input" ng-model="changePassword.cofirmchangePassword">
                </li><br>           
                <li>
                    <button type="button" class="btn btn-outline-danger" ng-click="changePassword1()" style="width: 200px;">ĐỔI MẬT KHẨU</button>
                </li>
            </ul>
        </div>      
        </div>
  </div>