<style>
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
    }

    span {
        flex: 1;
        font-weight: bold;
    }

    input.edit-input {
        flex: 2;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    ul li::before {
        position: absolute;
        left: 0;
    }

    ul li p a {
        text-decoration: none;
    }

    a {
        color: black;
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: #5787bb;
    }

    .error-message1 {
        display: block;
        color: red;
        margin-left: 240px;
        font-size: 14px;
    }
</style>
<!-- CSS -->
<div class="container">
    <div class="account-title">
        <h2 style="text-align: center;padding-top: 50px;font-size: 40px;padding-bottom: 20px;">
            Tài khoản của bạn
            <hr>
        </h2>
    </div>
    <div class="row justify-content-start">
        <div class="col-3" style="border: none;">
            <h4>TÀI KHOẢN</h4>
            <ul>
                <li>
                    <p>* <a href="#/accountDetail" style="text-decoration: none;">Thông tin tài khoản</a></p>
                </li>
                <li>
                    <p>* <a href="#/address" style="text-decoration: none;">Danh sách địa chỉ</a></p>
                </li>
                <li>
                    <p>* <a href="#/changePass" style="text-decoration: none;">Đổi mật khẩu</a></p>
                </li>
                <li>
                    <p>* <a href="" id="logoutLink" style="text-decoration: none;" ng-click="signOutE()">Đăng xuất</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <h4>ĐỔI MẬT KHẨU</h4>
            <hr>
            <ul>
                <li>
                    <span>Mật khẩu cũ:</span>
                    <input type="password" class="edit-input" ng-model="changePasswords.oldchangePassword">
                </li>
                <span ng-show="erreMsg1" class="error-message1">{{ erreMsg1 }}</span>
                <br>
                <li>
                    <span>Mật khẩu mới:</span>
                    <input type="password" class="edit-input" ng-model="changePasswords.newchangePassword">
                </li>
                <span ng-show="erreMsg2" class="error-message1">{{ erreMsg2 }}</span>
                <span ng-show="newPassWordError.length" class="error-message1">{{ newPassWordError.length }}</span>
                <span ng-show="newPassWordError.lowercase" class="error-message1">{{ newPassWordError.lowercase }}</span>
                <span ng-show="newPassWordError.uppercase" class="error-message1">{{ newPassWordError.uppercase }}</span>
                <span ng-show="newPassWordError.digit" class="error-message1">{{ newPassWordError.digit }}</span>
                <span ng-show="newPassWordError.special" class="error-message1">{{ newPassWordError.special }}</span>
                <br>
                <li>
                    <span>Xác nhận mật khẩu:</span>
                    <input type="password" class="edit-input" ng-model="changePasswords.cofirmchangePassword">
                </li>
                <span ng-show="erreMsg3" class="error-message1">{{ erreMsg3 }}</span>
                <br>
                <li>
                    <button type="button" class="btn btn-outline-success" ng-click="changPassword()"
                        style="width: 200px;">ĐỔI MẬT KHẨU</button>
                </li>
            </ul>
        </div>
    </div>
</div>