<div class="container" style="text-align: center;;" ng-init="newUser = {}">
  <img src="/frontend/customer/src/assets/img/logo/icons8-nike-45.png" alt=""
    style="padding-bottom: 20px; padding-top: 20px;">

  <h3 style="font-weight: 600;"> ĐĂNG KÝ </h3>
  <div class="register" style="margin-top: 10px; margin-bottom: 20px;">

  </div>
  <p style="margin-top: 20px;">
    <input
      style="padding: 0 16px; border: 1px solid #c3b8b8; height: 40px; border-radius: 3px; width: 23%; color: rgb(76, 75, 72); "
      id="name" type="text" ng-model="newUser.fullName" placeholder="Họ tên">
  </p>
  <p style="margin-top: 20px;">
    <input
      style="padding: 0 16px; border: 1px solid #bbb2b2; height: 40px; border-radius: 3px; width: 23%; color: rgb(76, 75, 72); "
      id="email" type="email" ng-model="newUser.email" placeholder="Email">
  </p>
  <p style="margin-top: 20px;">
    <input
      style="padding: 0 16px; border: 1px solid #bbb2b2; height: 40px; border-radius: 3px; width: 23%; color: rgb(76, 75, 72); "
      id="" type="text" ng-model="newUser.phoneNumber" placeholder="Số điện thoại">
  </p>
  <p style="margin-top: 20px;">
    <input
      style="padding: 0 16px; border: 1px solid #bbb2b2; height: 40px; border-radius: 3px; width: 23%; color: rgb(76, 75, 72); "
      id="" type="password" ng-model="newUser.password" placeholder="Mật khẩu">
  </p>

  <p style="margin-top: 20px;">
    <input id="signUp_Btn"
      style="padding: 0 16px; border: 1px solid #000000; height: 40px; border-radius: 3px; width: 23%; color: rgb(255, 255, 255); "
      type="button" value="ĐĂNG  KÝ  NGAY" ng-click="signUpE(newUser)" class="btn btn-dark">
  </p>
  <a href="#/signin" style="text-decoration: none; font-size: 14px; color: #8b7f7f;margin: 15px;">Đăng nhập ngay?</a>
  <a href="tel:0902096529" style="text-decoration: none; font-size: 14px; color: #575050; margin: 15px;">Liên hệ hỗ trợ
    / 0902096529</a>
</div>
