<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Sneaker World</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/icons8-sneakers-35.png" />
    <link rel="stylesheet" href="../assets/css/component/homelayout.css">
</head>
<body>
    <header>
        <div id="menu-bar" class="fa fa-bars"></div>
        <img href="../assets/css/component/homelayout.css" href="homelayout.html" class="logo" src="../assets/img/icons8-sneakers-35.png"></img>
        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#product">Sản phẩm</a>
            <a href="#news">Hàng mới về</a>
            <a href="#fearured">Sản phẩm khuyến mãi</a>
            <a href="#blog">Tin Tức</a>
            
        </nav>
        <div class="icons">
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
        </div>
    </header>
    <nav></nav>
    <section></section>
    <footer></footer>
</body>
</html>