.banner-freeship{
    display: flex;
    justify-content: space-between;
    background-color: var(--bc-gray-light);
    padding: 5px;
}
.cart-item{
    border-bottom: 1px solid var(--bc-gray-light);
    padding: 20px 0;
    display: flex;
}

.main-item{
    display: flex;
    justify-content: space-between;
}
.product-price{
   
}