:root {
  --font-maven-pro: 'Maven Pro', sans-serif;
  --font-playfair-display: 'Playfair Display', serif;
  --font-noto-serif: 'Noto Serif', serif;
  --bc-gray-light: #eeeded;
  --bc-gray-light-hover: #cdc9c9;
  --tc-black: #000000;
  --fs-12px: 12px;
  --fs-14px: 14px;
  --fs-16px: 16px;
  --fw-500: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-noto-serif);
}

.container-top {
  background-color: var(--bc-gray-light);
}

.container-top ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 8px 30px;
  overflow: hidden;

}

.container-top ul li {
  margin-right: 20px;
  position: relative;
}

.container-top ul li::after {
  content: "";
  display: inline-block;
  margin-top: 10px;
  width: 2px;
  height: 10px;
  background-color: black;
  position: absolute;
  right: -10px;
  opacity: 0.2;
}

.container-top ul li:last-child::after {
  content: none;
}

.container-top ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--tc-black);
  font-size: var(--fs-12px);
  font-weight: var(--fw-500);
}
.container-top ul li:hover a {
  /* text-decoration: underline; */
  opacity: 0.8;
}

.container-end ul {
  display: flex;
  justify-content: end;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  overflow: hidden;
}

.container-end ul li {
  margin-right: 20px;
  padding: 20px 6px;
  position: relative;
  border-bottom: 2px solid transparent;
}

.container-end ul li:hover {
  border-color: black;
}

.container-end ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--tc-black);
  font-size: var(--fs-16px);
  font-weight: var(--fw-500);
}

.container_search{
  display: inline-block;
  border-radius: 25px;
  background-color: var(--bc-gray-light);
  transition: background-color 0.3s ease;
}

.container_search button{
  background-color: var(--bc-gray-light);
  border: none;
  padding: 10px;
  border-radius: 25px;
  transition: inherit;
}

.container_search input{
  width: 150px;
  background-color: transparent;
  opacity: 0.5;
  border: none;
}

.container_search input:focus,
.container_search button:focus
{
  outline: none;
}

.container_search button:hover{
  background-color: var(--bc-gray-light-hover); 
}

















/* -------------------------- */

.header-main,
nav ul,
.right-main,
.price {
  display: flex;
  align-items: center;
}

.header-main :hover {
  text-decoration: double;
  color: brown;
}

nav li {
  list-style: none;
  padding-top: 10px;
  margin: 0 20px;
}

nav li a {
  font-size: 20px;
  color: #2e2f34;
}

.right-main i {
  margin-right: 10px;
  margin-top: 11px;
}

/* .right-main .search{
    font-size: 18px;
    border: none; 
    border: 1px solid rgb(183, 195, 208); 
    margin-left: 10px;
    margin-right: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #ffffff;
} */
/* end header  */