*{
    margin: auto; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.column {
    width: 100%;
}

@media (min-width: 600px) {
    .column {
        width: 50%;
    }
}
header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-between;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);;
}

header p{
    margin-bottom: 0;
}
.header-top{
    background-color: #f5f5f5;
    padding: 10px 100px;
    padding-left: 530px;
    font-size: 14px;
    
}
.header-top, .right, .email, .icon, .language, .login{
    display: flex;
    align-items: center;
    
}
.header-top i{
    margin: 0px 10px;
}
.header-top .left, .right:hover{
    color: rgb(255, 0, 0);
}
.header-main, nav ul, .right-main, .price{
    display: flex;
    align-items: center;
}
.header-main :hover{
    text-decoration: double;
    color: rgb(0, 0, 0);
}
nav li{
    list-style: none;
    padding-top: 10px;
    margin: 0 20px;
}
nav li a{
    font-size: 20px;
    color: #747272;
}
.right-main i{
    margin-right: 10px;
    margin-top: 11px;
}
/* .right-main .search{
    font-size: 18px;
    border: none; 
    border: 1px solid rgb(183, 195, 208); 
    margin-left: 10px;
    margin-right: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #ffffff;
} */
/* end header  */
