.product-sort-container{
    display: flex;
    justify-content: end;
}

.product-sort-container select{
    appearance: none; /* Ẩn giao diện mặc định của select */
    -webkit-appearance: none; /* Safari */
    background: transparent; /* Độ rộng và chiều cao của select */
    padding: 5px 20px 5px 5px; /* Thêm padding để giữ khoảng cách với mũi tên */
    border: none; /* Xóa border */
    outline: none; /* Xóa outline */
    cursor: pointer; /* Đổi con trỏ chuột thành dấu mũi tên */
    position: relative;
    opacity: 0.5;
}

.product-sort-container select::after{
    content: "<"; /* Biểu tượng mũi tên (Unicode) */
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.scrollable {
    overflow-y: auto;
    max-height: 500px; /* Đặt chiều cao tối đa của phần để cho phép cuộn khi nội dung vượt quá */
}



.product-item image,.product-item span {
    display: block;
}

.product-item a {
    padding: 5px;

}

.product-item a:hover {
    text-decoration:none ;
}

.product-item .name, .product-item .price{
    color: var(--tc-black);
}

.product-item .color, .product-item .category{
    color: var(--tc-black);
    opacity: 0.5;
}

.product-item .price{
    margin-top: 10px;
}

