
.container.p{
    font-size: 20px;
}

information.h3{
    font-weight: bold;
}
.col-md-7.information.p{
    font-size: 20px;

}
information.h4{
    padding-top: 10px;
    font-weight: 500;
}

.selectedSize{
    background-color: black;
}

.product-colors{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.product-colors img{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    align-items: center;
}
.product-colors button {
    margin-right: 10px; /* Khoảng cách giữa các màu */
    border: 1px solid #c3c3c3; /* Đường viền 2px và màu xám cho nút */
    border-radius: 5px; /* Góc bo tròn cho nút */
    padding: 0; /* Xóa padding mặc định của nút */
    background: none; /* Loại bỏ nền mặc định của nút */
}

.product-colors button:hover {
    border-color: #000; /* Màu đường viền khi di chuột vào */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.hover-container div{
    border: 2px solid rgba(213, 204, 206, 0.7);
    padding: 1rem;
    border-radius: 10px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
} */