
.container.p{
    font-size: 20px;
}

information.h3{
    font-weight: bold;
}
.col-md-7.information.p{
    font-size: 20px;

}
information.h4{
    padding-top: 10px;
    font-weight: 500;
}

.selectedSize{
    background-color: black;
}

.product-colors{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.product-colors img{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
}
.product-colors button {
    margin-right: 10px; /* Khoảng cách giữa các màu */
    border: 1px solid #c3c3c3; /* Đường viền 2px và màu xám cho nút */
    border-radius: 5px; /* Góc bo tròn cho nút */
    padding: 0; /* Xóa padding mặc định của nút */
    background: none; /* Loại bỏ nền mặc định của nút */
}

.product-colors button:hover {
    border-color: #000; /* Màu đường viền khi di chuột vào */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.img img {
    width: 315px;
    height: 315px;
}

.hover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.hover-container button {
    margin: 5px;
    padding: 0;
    border: none;
    background: none;
}

.hover-container img {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(216, 216, 216);
}
