<div class="container" style="padding-top: 20px;">
    <h4 style="border-bottom:  1px  solid rgb(235, 229, 229);"> Đơn hàng đã mua:</h4>
    <section>
        <div class="order-status">
            <ul style="border-bottom: 1px solid rgb(232, 225, 225);">
                <li><input type="button" ng-click="filterOrder(0)" value="Chờ xác nhận"></li>
                <li><input type="button" ng-click="filterOrder(1)" value="Đang giao"></li>
                <li><input type="button" ng-click="filterOrder(2)" value="Đã giao"></li>
                <li><input type="button" ng-click="filterOrder(3)" value="Đã nhận hàng"></li>
                <li><input type="button" ng-click="filterOrder(4)" value="Trả hàng"></li>
            </ul>
        </div>
        <br><br>
        <div class="order-item" ng-repeat="order in orders">
            <div class="status_o" style="padding-bottom: 30px;">
                <span style="margin-left: 480px;border-bottom: 1px solid rgb(232, 225, 225);">{{ status[order.status]
                    }}</span> -
                <span ng-show="order.status === 3"
                    style="padding-top: 20px;border-bottom: 1px solid rgb(232, 225, 225);color: rgb(255, 0, 0);">
                    Đã Hoàn thành</span>
                <span ng-show="order.status !== 3"
                    style="padding-top: 20px;border-bottom: 1px solid rgb(232, 225, 225);color: rgb(255, 0, 0);">
                    Chưa Hoàn thành</span>
                <span ng-show="order.status === 4"
                    style="padding-top: 20px;border-bottom: 1px solid rgb(232, 225, 225);color: rgb(255, 0, 0);">
                    Thất bại</span>
            </div>
            <a ng-href="#/orderDetail/{{order.orderId}}" style="text-decoration: none; color: black;"
                ng-repeat="item in order.orderItems">
                <div class="order-tiem-product-info"
                    style="margin-bottom: 10px; border: 1px solid rgb(232, 225, 225);border-radius: 5px;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="order-item-product-info-title">
                            <div class="image-container">
                                <img ng-src="{{ getImgUrl(item.imgUrl) }}" class="centered-image">
                            </div>
                            <div>
                                <p>{{ item.productName }}</p>
                                <p>Phân loại hàng: {{item.color}}, {{item.sizeNumber}}</p>
                                <p>Số lượng: {{item.quantity}}</p>
                            </div>
                        </div>
                        <div class="order-item-product-info-price">
                            <span style="color: rgb(228, 50, 50);"> {{ formatPrice(item.discountRate) }} </span>
                            <span class="retail-price"> {{ formatPrice(item.retailPrice) }} </span>
                        </div>
                    </div>
                </div>
            </a>
            <div style="display: flex; justify-content: end;">
                <p style="color: red;font-size: 20px;font-weight: 500;margin-left: 50px;">Thành tiền: {{
                    order.total | formatVNDPrice }}
                </p>
            </div>
            <div class="order-item-options">
            <div class="order-item-options" ng-show="order.status === 3">
                <div class="order-item-option-review">
                    <span style="display: inline-block;">Không nhận được đánh giá:</span>
                    <!-- <button type="button" class="btn btn-outline-success">Đánh giá ngay</button> -->
                </div>
                <div>
                    <button type="button" class="btn btn-warning" ng-click="reBuy(order.orderId)">Mua lại</button>
                </div>
            </div>
        </div>

    </section>
</div>