<br>
<!-- The Modal -->
<!-- MODAL -->
<div class="container" style="padding-top: 50px;padding-bottom: 50px;border: 2px solid rgba(213, 204, 206, 0.7);">
    <div class="row">
        <div class="col-md-5">
            <div class="img">
                <img src="/frontend/customer/src/assets/img/product/21 (2).jpg"
                    style="width: 90%; padding-left: 50px; padding-bottom: 30px;">
            </div>

            <div class="hover-container">
                <div><img src="/frontend/customer/src/assets/img/product/3.jpg"></div>
                <div><img src="/frontend/customer/src/assets/img/product/5.jpg"></div>
                <div><img src="/frontend/customer/src/assets/img/product/10.jpg"></div>
                <div><img src="/frontend/customer/src/assets/img/product/13.jpg"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="information">
                <h3 style="font-weight: bold;">{{ product.name }}</h3>
                <p style="font-size: 18px;">{{ product.description }}</p>
                <p style="font-weight: bold;font-size: 20px;">{{ product.retailPrice }} đ </p>
                <p style="font-size: 18px;">Thương hiệu: Nike Air Jordan | Mã sản phẩm: FPT2002-34</p>
                <p style="font-size: 18px;">Tình trạng: Còn hàng</p>
                <h4>Chọn size:</h4>
                <div>
                    <button type="button" class="btn btn-outline-secondary">36</button>
                    <button type="button" class="btn btn-outline-secondary">37</button>
                    <button type="button" class="btn btn-outline-secondary">38</button>
                    <button type="button" class="btn btn-outline-secondary">39</button>
                    <button type="button" class="btn btn-outline-secondary">40</button>
                </div>
                <div style="margin-top: 10px;">
                    <button type="button" class="btn btn-outline-secondary">41</button>
                    <button type="button" class="btn btn-outline-secondary">42</button>
                    <button type="button" class="btn btn-outline-secondary">43</button>
                    <button type="button" class="btn btn-outline-secondary">44</button>
                    <button type="button" class="btn btn-outline-secondary">45</button>
                </div>
            </div>
            <p>
                <input
                    style="padding: 0 16px; border: 1px solid #c3b8b8; height: 48px; border-radius: 5px; width: 23%; color: rgb(76, 75, 72); margin-right: 10px;padding-bottom: 5px;"
                    type="number" placeholder="Nhập số lượng" min="0" ng-model="quantity">
                <button type="button" class="btn btn-dark btn-lg" style="border-radius: 5px"
                    ng-click="addToCartE(product.id)">THÊM GIỎ HÀNG</button>
            </p>
        </div>
    </div>
</div> <br>
<section>
    <div class="text-center">
        <h2>Sản phẩm liên quan</h2>
    </div>
    <div class="product">
        <div class="boxProduct">
            <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
            <div class="card-badge">New</div>
            <ul class="product-links">
                <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
                            title="Thêm vào yêu thích"></i></button></li>
            </ul>
            <ul class="product-links-cart">
                <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
                            title="Thêm vào giỏ hàng"></i></button></li>
            </ul>
            <ul class="product-links-buy">
                <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping"
                            title="Mua ngay"></i></button></li>
            </ul>
            <div class="name">
                <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
            </div>
            <div class="priceI">
                <span>2,300,000 đ</span>
                <span class="strike"><del></del></span>
            </div>
        </div>
        <div class="boxProduct">
            <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
            <div class="card-badge">New</div>
            <ul class="product-links">
                <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
                            title="Thêm vào yêu thích"></i></button></li>
            </ul>
            <ul class="product-links-cart">
                <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
                            title="Thêm vào giỏ hàng"></i></button></li>
            </ul>
            <ul class="product-links-buy">
                <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping"
                            title="Mua ngay"></i></button></li>
            </ul>
            <div class="name">
                <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
            </div>
            <div class="priceI">
                <span>2,300,000 đ</span>
                <span class="strike"><del></del></span>
            </div>
        </div>
        <div class="boxProduct">
            <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
            <div class="card-badge">New</div>
            <ul class="product-links">
                <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
                            title="Thêm vào yêu thích"></i></button></li>
            </ul>
            <ul class="product-links-cart">
                <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
                            title="Thêm vào giỏ hàng"></i></button></li>
            </ul>
            <ul class="product-links-buy">
                <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping"
                            title="Mua ngay"></i></button></li>
            </ul>
            <div class="name">
                <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
            </div>
            <div class="priceI">
                <span>2,300,000 đ</span>
                <span class="strike"><del></del></span>
            </div>
        </div>
        <div class="boxProduct">
            <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
            <div class="card-badge">New</div>
            <ul class="product-links">
                <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
                            title="Thêm vào yêu thích"></i></button></li>
            </ul>
            <ul class="product-links-cart">
                <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
                            title="Thêm vào giỏ hàng"></i></button></li>
            </ul>
            <ul class="product-links-buy">
                <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping"
                            title="Mua ngay"></i></button></li>
            </ul>
            <div class="name">
                <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
            </div>
            <div class="priceI">
                <span>2,300,000 đ</span>
                <span class="strike"><del></del></span>
            </div>
        </div>
    </div>
</section>
<div class="view-more">
    <div class="boxC" style="font-size: 12px; padding-top: 20px; padding-bottom: 20px;">
        <button type="button" class="btn btn-outline-danger"><a href="#6" style="text-decoration: none;color: black;">
                Xem tất cả </a></button>
    </div>
</div>