<!-- <link rel="stylesheet" href="../assets/css/component/product-primary.css">
<link rel="stylesheet" href="../assets/css/js/product-primary.js">

<div class="">
    <div class="product-container">
        <div class="boxProduct" ng-repeat="product in products | limitTo: 8">
            <a href="#/productDetail/{{product.id}}"><img src="/frontend/customer/src/assets/img/product/2.jpg"></a>
        <div class="card-badge">New</div>      
        <ul class="product-links">
            <li><button type="button" class="viewheart"><i class="fa-solid fa-heart" title="Thêm vào yêu thích" ng-click="addToWishListE(product.id)"></i></button></li>               
        </ul> 
        <ul class="product-links-cart">
            <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus" title="Thêm vào giỏ hàng" ng-click="addToCartsE(product.id)"></i></button></li>               
        </ul>   
        <ul class="product-links-buy">
            <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay" ng-click="buyNow(product.id)"></i></button></li>               
        </ul>    
        <div class="name">
            <a href="#" title="{{product.name}}">{{product.name}}</a>
        </div>
        <div class="priceI">
            <span>{{product.retailPrice}} đ</span>                                                        
            <span class="strike"><del></del></span>  
        </div>
        </div>
    </div>
</div> -->


<!-- LONG-TEST -->
<link rel="stylesheet" href="../assets/controller/productController.js">
<link rel="stylesheet" href="../assets/css/component/product.css">

<div >
    <div class="row" style="margin-left: 20px;">
        <div class="boxProduct" ng-repeat="product in products | limitTo: 4">
            <span class="toggle-button">
                <i class="fa-regular fa-heart"></i>
            </span>
            <span ng-show="product.discountRate > 0 && product.discountRate !== product.retailPrice"
                class="cpercenOff">Giảm {{calculatePercenOff(product.discountRate,
                product.retailPrice)}}% 
            </span>														
            <a href="#/productDetail/{{product.id}}" class="product-link">
                <img src="{{getImgUrl(product.productImages[0].imageUrl)}}">					
                <div class="product-details">
                    <span class="name">{{product.name}}</span>
                    <span class="color">{{countColors(product.productImages)}} màu</span>
                    <div class="price-section">
                        <span style="margin-right: 10px;" class="discount"
                            ng-show="product.discountRate > 0 && product.discountRate !== product.retailPrice">{{formatPrice(product.discountRate)}}</span>
                        <span class="price"
                            ng-class="{'strike-through': product.discountRate > 0 && product.discountRate !== product.retailPrice}">{{formatPrice(product.retailPrice)}}</span><br>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>