<!-- MODAL -->
<section class="container">
  <div class="detal">
    <div class="card mb-4" ng-repeat="cart in carts">
      <div class="card-body p-4">
        <div class="row align-items-center">
          <input type="checkbox" ng-model="cart.isSelected">
          <div class="col-md-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp" class="img-fluid"
              alt="Generic placeholder image">
          </div>
          <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-4 pb-2"></p>
              <p class="lead fw-normal mb-0">{{ cart.product.name }}</p>
            </div>
          </div>
          <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-4 pb-2">{{ cart.quantity }}</p>
              <p class="lead fw-normal mb-0">1</p>
            </div>
          </div>
          <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-4 pb-2">Giá tiền</p>
              <p class="lead fw-normal mb-0">{{ cart.product.retailPrice }} đ</p>
              <p>giá khuyến mãi {{ cart.product.retailPrice * cart.product.discountRate / 100 }} đ</p>
            </div>
          </div>
          <div class="col-md-2 d-flex justify-content-center">
            <div>
              <p class="small text-muted mb-4 pb-2">Tổng tiền</p>
              <p class="lead fw-normal mb-0">{{ cart.product.retailPrice * cart.product.discountRate / 100 * cart.quantity }} đ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: right; font-size: 24px; font-weight: bold;">
    <a href="#13" type="button" class="btn btn-primary" ng-click="goToPayment()">Thanh toán</a>
    <p>Tổng cộng</p>
    <p style="color: brown;">{{totalAmount()}} đ</p>
  </div>
  <br>
  <hr>
</section>

<section>
  <div class="text-center">
    <h2 style="font-weight: bold; padding-top: 20px;padding-bottom: 20px;">Có thể bạn sẽ thích</h2>
  </div>
  <div class="product">
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
  </div>
</section>
<div class="more">
  <div class="">
    <a href="#6">Hiển thị thêm sản phẩm </a>
  </div>
</div>