<!-- MODAL -->
<section class="container">
  <div class="row">
    <div class="col-9">
      <div class="banner-freeship">
        <div class="freeship-infomation">
          <h4>Miễn phí vận chuyển</h4>
          <span>Áp dụng cho những đơn hàng 5.000.000 trở lên</span>
        </div>
        <button>x</button>
      </div>
      <h1>Giỏ hàng</h1>
      <div class="cart-item" ng-repeat="cart in carts">
        <div>
          <img src="{{getImgUrl(cart.product.imgUrl)}}" width="150px" height="150px" alt="">
        </div>
        <div class="main-item">
          <div class="product-infomation">
            <h3>{{cart.product.name}}</h3>
            <p>{{cart.colorName}}</p>
            <div>
              <label for="size">Kích cỡ</label>
              <select name="" id="size" ng-model="cart.sizeId" ng-change="updateCart(cart.id)">
                <option ng-repeat="size in cart.sizes" value="{{size.id}}">{{ size.numberSize }}</option>
              </select>
              <label for="quantity">Số lượng</label>
              <select name="" id="quantity" ng-model="cart.quantity" ng-change="updateCart(cart.id)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

              </select>
            </div>
            <button ng-click="removeCart(cart.id)">Remove</button>
          </div>
          <div class="product-price">
            <span>{{cart.product.retailPrice}}đ</span>
            <span>{{cart.product.discountRate}}đ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h1>Tạm tính</h1>
      <div class="subtotal">
        <p>Tổng phụ</p>
        <p>{{totalAmount()}}</p>
      </div>
      <div class="Delivery ">
        <p>Phí vận chuyển</p>
        <p ng-show="deliveryFee() < 5000000">{{deliveryFee()}}</p>
        <p ng-show="deliveryFee() === 0">Miễn phí</p>
      </div>
      <div class="total">
        <p>Tổng cộng</p>
        <p>{{ totalAmount() + deliveryFee() }}</p>
      </div>
      <a href="#/pay" class="btn btn-dark">Thanh toán</a>
    </div>
  </div>
</section>

<section>
  <div class="text-center">
    <h2 style="font-weight: bold; padding-top: 20px;padding-bottom: 20px;">Có thể bạn sẽ thích</h2>
  </div>
  <div class="product">
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
    <div class="boxProduct">
      <a href="#11"><img src="/frontend/customer/src/assets/img/product/5.jpg"></a>
      <div class="card-badge">New</div>
      <ul class="product-links">
        <li><button type="button" class="viewheart"><i class="fa-solid fa-heart"
              title="Thêm vào yêu thích"></i></button></li>
      </ul>
      <ul class="product-links-cart">
        <li><button type="button" class="viewcart"><i class="fa-solid fa-cart-plus"
              title="Thêm vào giỏ hàng"></i></button></li>
      </ul>
      <ul class="product-links-buy">
        <li><button type="button" class="viewbuy"><i class="fa-solid fa-cart-shopping" title="Mua ngay"></i></button>
        </li>
      </ul>
      <div class="name">
        <a href="#" title="AIR JORDAN 1 LOW 'PANDA">AIR JORDAN 1 LOW 'PANDA''GUAVA ICE' </a>
      </div>
      <div class="priceI">
        <span>2,300,000 đ</span>
        <span class="strike"><del></del></span>
      </div>
    </div>
  </div>
</section>
<div class="more">
  <div class="">
    <a href="#6">Hiển thị thêm sản phẩm </a>
  </div>
</div>