<section class="container">
  <div class="row">
    <div class="col-9">
      <div class="banner-freeship">
        <div class="freeship-infomation">
          <h4 style="margin-left: 10px;">Miễn phí vận chuyển</h4>
          <span style="margin-left: 10px;">Áp dụng cho những đơn hàng 3.000.000 trở lên</span>
        </div>
      </div><br>
      <h3>Giỏ hàng:</h3>
      <hr>
      <div ng-show="carts.length === 0" class="emptyCart-container">
        <div class="emptyCart-img">
            <img src="/frontend/customer/src/assets/img/logo/empty.png" alt="Giỏ hàng trống">
            <span>Opps. Có vẻ như bạn chưa có sản phẩm nào.</span>
        </div>
      </div>
      <div class="cart-item" ng-repeat="cart in carts">
        <div>
          <img src="{{getImgUrl(cart.product.imgUrl)}}" width="150px" height="150px" alt="">
        </div>
        <div class="main-item">
          <div class="product-infomation">
            <div class="product-price">
              <h3>Tên sản phẩm: {{cart.product.name}}</h3>
              <button class="remove-button" ng-click="removeCart(cart.id)"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <p>Màu sắc: {{cart.colorName}}</p>
            <label for="size" style="margin-right: 20px;">Kích cỡ:
              <select ng-model="cart.sizeId" ng-change="updateCart(cart.id)">
                <option ng-repeat="size in cart.sizes" value="{{size.id}}">{{ size.numberSize }}</option>
              </select>
            </label>
            <label for="quantity">Số lượng:</label>
            <button class="quantity-button" ng-click="degree(cart.id, false)"
              style="height: 40px;width: 40px;background-color: white;border: 1px solid #cec9c9">-</button>
            <input type="text" name="quantity" id="quantity" ng-model="cart.quantity" class="numeric-input"
              style="width: 80px; height: 40px; border: 1px solid #cec9c9; text-align: center;" min="1" max="10"
              maxlength="10" readonly>
            <button class="quantity-button" ng-click="degree(cart.id, true)"
              style="height: 40px;width: 40px;background-color: white;border: 1px solid #cec9c9">+</button>
          </div>
          <div class="product-price">
            <span style="color: rgb(255, 0, 0);margin-right: 20px;">{{ formatPrice(cart.product.discountRate) }}</span>
            <del style="color: rgb(163, 158, 158);">{{ formatPrice(cart.product.retailPrice) }}</del>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h4 style="padding-top: 5px;">Thông tin đơn hàng</h4>
      <hr>
      <div class="subtotal">
        <span>Tạm tính: </span>
        <span style="color: red;font-size: 18px;">{{ formatPrice(totalAmount()) }}</span>
      </div>
      <hr>
      <div>
        <p>Mã giảm giá: </p>
        <input type="text" placeholder="Nhập mã giảm giá (nếu có)"
          style="border: 1px solid rgb(215, 215, 214); height: 40px; width: 255px;text-align: center;">
      </div>
      <hr>
      <div class="total">
        <span>Tổng cộng: </span>
        <span style="color: red; font-size: 20px;">{{ formatPrice(totalAmount()) }}</span>
      </div>
      <hr>
      <button class="payment-button btn btn-dark" ng-click="pay()" ng-disabled="carts.length === 0">THANH TOÁN NGAY</button>
      <p>
        <a href="#/product" style="margin-left: 40px;text-decoration: none;color: rgb(70, 66, 66);">
          <i class="fa fa-reply" style="color: rgb(180, 65, 65);"></i> Tiếp tục mua hàng</a>
      </p>
    </div>
  </div>
</section>