<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-md-3 scrollable">
			<div class="card">
				<article class="filter-group">
					<header class="card-header">
						<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="title">
							<h5 class="title" style="padding-top: 15px; color: black; font-weight: bold;">DANH MỤC</h5>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_1">
						<div class="card-body">
							<form class="pb-3">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Tìm kiếm">
									<div class="input-group-append">
										<button class="btn btn-light" type="button"><i
												class="fa fa-search"></i></button>
									</div>
								</div>
							</form>
							<ul class="list-menu"
								style="color: rgb(54, 51, 51); text-decoration: none; font-size: 18px;">
								<li><a href="#"> Sản Phẩm Mới </a></li>
								<li><a href="#"> Hàng Mới Về </a></li>
								<li><a href="#"> Top Thịnh Hành </a></li>
								<li><a href="#"> Giá Từ Thấp Đến Cao </a></li>
								<li><a href="#"> Giá Từ Cao Đến Thấp </a></li>
							</ul>
						</div> <!-- card-body.// -->
					</div>
				</article> <!-- filter-group  .// -->
				<article class="filter-group">
					<header class="card-header"
						style="width: 253.4px; height: 62px; border: 1px solid rgba(0,0,0,.125);padding-top: 20px;">
						<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="title">
							<h6 class="title" style=" color: black; font-weight: bold; text-decoration: none;"> LOẠI
								GIÀY </h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_2">
						<div class="card-body" style="color: gray;">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike Air Jordan
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike Air Max
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike City Rep
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike Phantom GT
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike Waffle Racer
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike Crater Remixa
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike Renew In-Season
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Nike React Miler
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
						</div> <!-- card-body.// -->
				</article> <!-- filter-group .// -->
				<article class="filter-group">
					<header class="card-header"
						style="width: 253.4px; height: 62px; border: 1px solid rgba(0,0,0,.125);padding-top: 20px;">
						<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="title">
							<h6 class="title" style=" color: black; font-weight: bold; text-decoration: none;">GIÁ TIỀN
							</h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_2">
						<div class="card-body" style="color: gray;">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Dưới 500,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> 500,000 - 1,000,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> 1,000,000 - 1,500,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> 1,500,000 - 2,000,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> 2,000,000 - 2,500,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> 2,500,000 - 3,000,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> 3,000,000 - 5,000,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Trên 5,000,000 đ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
						</div> <!-- card-body.// -->
				</article> <!-- filter-group .// -->
				<article class="filter-group">
					<header class="card-header"
						style="width: 253.4px; height: 62px; border: 1px solid rgba(0,0,0,.125);padding-top: 20px;">
						<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="title">
							<h6 class="title" style=" color: black; font-weight: bold; text-decoration: none;"> MÀU SẮC
							</h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_2">
						<div class="card-body" style="color: gray;">
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu xanh
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu đỏ
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu trắng
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu hồng
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu vàng
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu tím
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Màu đen
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
							<label class="custom-control custom-radio">
								<input type="checkbox" class="custom-control-input">
								<div class="custom-control-label"> Mùa nâu
									<b class="badge badge-pill badge-light float-right"></b>
								</div>
							</label>
						</div> <!-- card-body.// -->
				</article> <!-- filter-group .// -->
				<article class="filter-group">
					<header class="card-header"
						style="width: 253.4px; height: 62px; border: 1px solid rgba(0,0,0,.125);padding-top: 20px;">
						<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="title">
							<h6 class="title" style=" color: black; font-weight: bold; text-decoration: none;">KÍCH
								THƯỚC</h6>
						</a>
					</header>
					<div class="filter-content collapse show" id="collapse_4">
						<div class="card-body">
							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 35 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 36 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 37 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 38 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 39 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 40 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 41 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 42 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 43 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 44 </span>
							</label>

							<label class="checkbox-btn">
								<input type="checkbox">
								<span class="btn btn-light"> 45 </span>
							</label>
						</div><!-- card-body.// -->
					</div>
				</article> <!-- filter-group .// -->

			</div> <!-- card.// -->
		</div>

		<div class="col-md-9 px-5">
			<div class="product-sort-container">
				<span>Sắp xếp theo: </span>
				<select ng-model="sortBy">
					<option value=""></option>
					<option value="2">Hàng với về</option>
					<option value="3">Top thịnh hành</option>
					<option value="0">Giá từ thấp đến cao</option>
					<option value="1">Giá từ cao đến thấp</option>
				</select>
			</div>
			<div class="product-list-container">
				<div class="row">
					<div class="col-lg-4 px-2 product-item" ng-repeat="product in products">
						<a href="#/productDetail/{{product.id}}">
							<img src="{{getImgUrl(product.productImages[0].imageUrl)}}" alt="jordan 1"
								style="vertical-align: middle;" width="100%" height="250px">
							<span class="name">{{product.name}}</span>
							<span class="category">Giày cho nam </span>
							<span class="color">{{countColors(product.productImages)}} màu</span>
							<div>
								<span class="discount"
									ng-show="product.discountRate > 0 && product.discountRate !== product.retailPrice"
									ng-class="{'show-discount': product.discountRate > 0}">{{formatPrice(product.discountRate)}}</span>
								<span class="price"
									ng-class="{'strike-through': product.discountRate > 0 && product.discountRate !== product.retailPrice}">{{formatPrice(product.retailPrice)}}</span>
							</div>
							<span class="percenOff">Giảm {{calculatePercenOff(product.discountRate,
								product.retailPrice)}}%</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>